video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  /* Prevent flicker of video on Safari */
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

main {
  z-index: 2;
  position: absolute;
  background-color: rgba(114, 192, 44, 0.6);
  padding-top: 70px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* use flexbox to vertically center content */
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 250px;
  border-top: 3px solid white;
}

.bg-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.card {
  color: white;
  display: none;
}
